@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  position: relative;
  color: #333;
  /* background-color: #1A4776; */
  background-color: #1a4776;
}

:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 0;
  outline: none;
}
:focus {
  outline: none;
}

.bg {
  position: absolute;
  width: 50%;
  aspect-ratio: 1;
  border-radius: 61% 39% 16% 84% / 57% 72% 28% 43%;
  animation: fluid-anim 20s infinite;
  -webkit-background: linear-gradient(#41BAC1, #1c6dc3);
  background: linear-gradient(#41BAC1, #1c6dc3);
  /* -webkit-background: linear-gradient(#676767, #333); */
  /* -webkit-background: linear-gradient(#00046e, #049ff2);
  background: linear-gradient(#00046e, #049ff2); */
  background-attachment: fixed;
  z-index: -1;
}

.bg.bg--1 {
  top: -20%;
  left: -20%;
}
.bg.bg--2 {
  bottom: -20%;
  right: -20%;
}

@media screen and (max-width: 768px) {
  .bg.bg--1 {
    width: 100%;
    top: -15%;
    left: -15%;
  }
  .bg.bg--2 {
    width: 100%;
    bottom: -15%;
    right: -15%;
    animation-delay: 5s;
  }
}

@keyframes fluid-anim {
  0%    { border-radius: 65% 35% 55% 45% / 55% 50% 55% 45%; }
  12.5% { border-radius: 60% 75% 40% 80% / 70% 70% 60% 65%; }
  25%   { border-radius: 55% 95% 65% 90% / 75% 65% 85% 70%; }
  37.5% { border-radius: 60% 40% 50% 45% / 60% 40% 60% 40%; }
  50%   { border-radius: 55% 95% 65% 90% / 75% 65% 85% 70%; }
  62.5% { border-radius: 60% 40% 50% 45% / 60% 40% 60% 40%; }
  75%   { border-radius: 60% 75% 40% 80% / 70% 70% 60% 65%; }
  87.5% { border-radius: 40% 60% 55% 45% / 50% 60% 40% 50%; }
  100%  { border-radius: 65% 35% 55% 45% / 55% 50% 55% 45%; }
}

.arrow-container {
  position: relative;
  width: 24px;
  height: 24px;
  margin: -10px auto 0;
}

.arrow {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.arrow:first-child {
  animation: move 3s ease-out 1s infinite;
}

.arrow:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.arrow:before,
.arrow:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.arrow:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.arrow:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@media screen and (max-width: 768px) {
  .arrow-container{
    margin: -20px auto 0;
  }

  .arrow{
    width: 20px;
    height: 5px;
  }
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.arrow-left::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 17px;
  width: 15px;
  height: 15px;
  border-bottom: 3px solid #333;
  border-left: 3px solid #333;
  transform: translateY(-50%) rotate(45deg);
}

.arrow-right::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 17px;
  width: 15px;
  height: 15px;
  border-top: 3px solid #333;
  border-right: 3px solid #333;
  transform: translateY(-50%) rotate(45deg);
}

.arrow-top::before {
  content: "";
  position: absolute;
  top: 19px;
  left: 50%;
  width: 15px;
  height: 15px;
  border-top: 3px solid #333;
  border-left: 3px solid #333;
  transform: translateX(-50%) rotate(45deg);
}

@media screen and (max-width: 768px) {
  
  .arrow-left::before {
    left: 12px;
    width: 8px;
    height: 8px;
    border-bottom: 2px solid #333;
    border-left: 2px solid #333;
  }

  .arrow-right::before {
    right: 12px;
    width: 8px;
    height: 8px;
    border-top: 2px solid #333;
    border-right: 2px solid #333;
  }

  .arrow-top::before {
    top: 12px;
    width: 8px;
    height: 8px;
    border-top: 2px solid #333;
    border-left: 2px solid #333;
  }
}